@import "assets/scss/base";

body{
  background: var(--body-background);
}
#app {
  text-align: center;
  color: #2c3e50;
}
.main-title{
  padding-top: 60px;
}
.products{
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 75px;
  padding: 50px;
}
.product-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon{
  width: 50px;
  stroke: #2c3e50;
  cursor: pointer;
  position: fixed;
  right: 50px;
  top: 50px;
  transition: all ease .5s;
  &:hover{
    stroke: #678d54;

  }
  @include tablets-max{
    mix-blend-mode: difference;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .7s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.order{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
}
.order-active{
  z-index: -1;
}
.order-form {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 50vw;
  height: 50vh;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  border: 3px solid #678d54;
}
.order-title{
  margin-top: 20px;
  font-style: italic;
}
.order-position {
  padding: 20px;
  margin-top: 10px;
  border: 3px solid #678d54;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-pay {
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #2c3e50;
  padding: 10px 20px;
  border-radius: 15px;
}
.order-close{
  cursor: pointer;
  position: absolute;
  width: 25px;
  top: 25px;
  right: 20px;
  stroke: #2c3e50;
  transition: all .5s ease;
  &:hover{
    stroke: #678d54;
  }
}
.order-nothing{
  font-size: 18px;
  font-weight: 700;
  padding-top: 100px;
}
